header{
  font-size: 40px;
  background-color: orange;
  width: 100%;
  
}
.profile_Image{
  justify-content: center;
  align-items: center;
  display: flex;
 
}
.profile_Image img{
  border-radius: 30px;
  width: 800px;
  height: 800px;
  margin: auto;
}
.about{
  background-color: gray#9FA2BEA3;
  width: 100%;
  font-family: sans-serif;
}
.about p{
  font-size: 30px;
}
.social_handles{
  justify-content: center;
  align-items: center;
  display: flex;
 
}
.title h1{
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
 
  
}
.social_handles a{
  display: flexbox;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
.ft_container{
  background-color: black;
  height: 100px;
}
.ft_container p{
  color: white;
  text-align: center;
  padding-top: 10px;
}